.Subnav {
  background-color: #ebeade;
  color: rgba(102, 102, 102, 0.658);
  font-weight: 400;
  display: flex;
  padding: 35px;
  font-size: 15px;
  margin-top: 30px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  width: 100%;

  .SubnavUl {
    display: flex;
    align-items: flex-end;

    .SubnavLi {
      margin-left: 10px;
      padding-right: 10px;
      flex-shrink: 0;

      .SubnavInnerText {
        &::after {
          content: '';
          display: block;
          border-bottom: solid 1px rgba(102, 102, 102, 0.658);
          padding-bottom: 4px;
          transition: width 250ms ease-out;
          left: auto;
          width: 0;
        }

        &:hover::after {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }
  }
}
