@import '../../styles/variables.scss';

.LinkButton {
  .button {
    @include flex-justify-between;
    min-width: 210px;
    max-width: 300px;
    padding: 20px 23px;
    margin-bottom: 20px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    color: $darkgray;
    font-size: 14px;
    transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);

    &:hover {
      background-color: $darkgray;
      color: $ivory;
    }

    i.fa-arrow-right {
      font-size: 12px;
    }
  }
}
