@import '../../../styles/variables.scss';

.ProductsSlider {
  height: 600px;
  padding-top: 100px;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100vw;
  position: relative;
  transition: transform 0.5s;

  h2 {
    width: 350px;
    font-size: 30px;
  }

  .imageBox {
    margin-right: 110px;
    transition: all 0.3s ease;
    img {
      width: 350px;
    }
    p {
      font-size: 13px;
      text-align: center;
      margin: 15px 0;
    }
  }
  .btnBox {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    top: 200px;
    i {
      background-color: black;
      color: white;
    }
  }
}
