.SubcatProductsIntro {
  padding: 50px;
  width: 33%;
  font-size: 15px;
  height: 700px;
  padding: 80px 40px;

  .SubcatIntroHeadline {
    font-size: 30px;
    font-family: Zapf Humanist, serif;
    font-weight: 50;
    margin-bottom: 50px;
  }

  .SubcatIntroInfo {
    line-height: 25px;
  }
}
