.SubcatProductsIntro {
  padding: 50px;
  width: 100%;
  font-size: 15px;
  height: 100%;
  padding: 50, 80px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;

  .SubcatIntroHeadline {
    font-size: 30px;
    font-family: Zapf Humanist, serif;
    font-weight: 50;
    margin-bottom: 100px;
  }

  .SubcatIntroInfo {
    line-height: 25px;
  }
}
