@import '../../../styles/variables.scss';

.hidden {
  display: none;
}
.cartModal {
  background-color: $darkgray;
  .closeModalBtn {
    padding-left: 50px;
  }
}
.cartProducts {
  padding: 40px 40px 0;
  .cartProductsHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px;
    color: $ivory;
    border-bottom: 2px solid rgba(255, 254, 242, 0.1);
  }
  .cartProduct {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    color: $ivory;
    border-bottom: 2px solid rgba(255, 254, 242, 0.1);
  }
  .Option {
    display: flex;

    .deleteBtn {
      margin-left: 5px;
      font-size: 12px;
    }
  }
}

.cartSummary {
  padding: 30px 40px 40px;
  margin-left: 66%;
  color: $ivory;
  .cartSummaryMoney {
    display: flex;
    justify-content: space-between;

    padding: 25px 0;
  }
}
