@import '../../../../styles/variables.scss';

.CarouselItem {
  flex-shrink: 0;
  width: calc(100% / 3);
  text-align: center;
  font-size: 14px;

  .itemImg {
    display: flex;
    align-items: flex-end;
    height: 400px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .textWrapper {
    padding: 0 20px;

    h5 {
      margin: 10px;
    }
  }
}
