@import '../../styles/variables.scss';
.categoryModalBoxHidden {
  display: none;
}
.categoryModalBoxSkin {
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(240, 239, 224);
}

.categoryModalBoxBody {
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(236, 227, 211);
}

.categoryModalBoxHair {
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(222, 216, 212);
}
.categoryModalMain {
  display: flex;
  justify-content: space-between;

  .modalLogoBox {
    width: 283px;
    .modalLogo {
      width: 180px;
      position: absolute;
      left: 20px;
      top: 150px;
    }
  }
}

.lists {
  // margin: 0 100px;
  display: flex;
  justify-content: space-between;
}
.mainList,
.typeList,
.loveList {
  margin: 90px 20px 40px;
  .categoryDetail {
    .categoryDetailTitle,
    .ListContents {
      margin-bottom: 12px;
      font-size: 16px;
      font-weight: 300;
    }
    .categoryDetailTitle {
      font-weight: 500;
    }
  }
}

.categorySkintype {
  display: flex;
  justify-content: space-between;
  .modalList {
    margin: 90px 40px 45px 0;
  }
}
.categoryMainImg {
  .categorySkinImg,
  .categoryBodyImg {
    width: 462px;
  }
}
